<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <Item>
    <div class='App'>
        <h2>Products</h2>
        <div class="List">
            <article class='Container' style='background-color:slategray'>
                <button
                  class='Favorite'>
                  🤍
                </button>
                <h2>Title</h2>
                <img
                  src='./images/iphone.png'
                  alt='...'
                  width='128'
                  height='128'
                />
                <p>
                  Specification:{" "}
                  <button>
                    show
                  </button>
                </p>
          
                <p class='NotAvailableStatus'>Not available</p>
                    <button>Buy</button>
                    <button>Buy 2</button>
              </article>
              <article class='Container' style='background-color:slategray'>
                <button
                  class='Favorite'>
                  🤍
                </button>
                <h2>Title</h2>
                <img
                  src='./images/airpods.png'
                  alt='...'
                  width='128'
                  height='128'
                />
                <p>
                  Specification:{" "}
                  <button>
                    show
                  </button>
                </p>
          
                <p class='NotAvailableStatus'>Not available</p>
                    <button>Buy</button>
                    <button>Buy 2</button>
              </article>
              <article class='Container' style='background-color:slategray'>
                <button
                  class='Favorite'>
                  🤍
                </button>
                <h2>Title</h2>
                <img
                  src='./images/apple-watch.png'
                  alt='...'
                  width='128'
                  height='128'
                />
                <p>
                  Specification:{" "}
                  <button>
                    show
                  </button>
                </p>
          
                <p class='NotAvailableStatus'>Not available</p>
                    <button>Buy</button>
                    <button>Buy 2</button>
              </article>
        </div>
          
    </div>



  </Item>
</html>